.font {

 font-family: 'Metal Mania', cursive;
 color:white;
}

body {
    padding: 25px;
    background-color: black;
    color: ;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }

   

